.App {
	text-align: center;
	margin-top: 20px;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.cardBox {
	margin: 10px;
	background-color: #ffffff;
	margin-left: -10px;
	margin-top: 15px;

	border-radius: 12px 12px 12px 12px;
	overflow: hidden;
	max-height: 35vh;
	-webkit-box-shadow: 0px 8px 12px -6px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
}

.btn.btn-primary.orderByYearBtn, .btn.btn-primary.sortBtn {
	background-color: #215184;
	text-align: left;
	color: white;
	float: right;
	margin-right: 10px;
}

.img {
	margin-left: 3px;
}
.header-text {
	font-size: 33px;
	line-height: 33px;
	position: relative;
	left: -20px;
	top: 8px;
}


.img-space-x {
	height: 35px;
}

.btn.btn-primary.reloadBtn {
	position: absolute;
	top: 0;
	right: 0;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: #215184;
}

.loading {
	top: 300px;
	right: 200px;
}

.card {
	padding: 15px
}


.orderNumber {
	text-align: left;
	font-size: xx-large;
	margin-left: 10px;
	font-weight: bold;
	line-height: 3.5rem;
}

.missionName {
	text-align: left;
	font-size: xx-large;
	margin-left: 40px;
	font-weight: bold;
	line-height: 3.5rem;
}

.launchDate {
	font-size: 17px;
}
.rocketName {
	font-size: 20px;
	font-weight: bold;
}

.header-margin {
	margin-top: 80px;
}

.x-center-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

#rocket {
	max-width: 100%;
	margin-top: 80px;
}

.rockets-table {
	height: 750px;
	width: 100%;
	padding: 0 20px 20px 20px;
	margin-top: 40px;
	overflow-y: scroll;
}